@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  background-color: #0057ff;
}

.container {
  position: relative;
  width: 60%;
  min-height: auto;
  overflow: hidden;
  text-align: center;
  color: #fff;
  margin-top: 350px;
  margin-inline: auto;
}

i{
  font-size: 128px;
  margin-bottom: 50px;
}

h1{
  font-size: 60px;
}

p{
  font-size: 20px;
  margin-bottom: 25px;
}

a{
  color: #fff;
  font-size: 20px;
}

@media (max-width: 870px) {
  .container {
    width: 100%;
    margin-top: 50px;
  }

  i{
    font-size: 96px;
  }

  h1{
    font-size: 42px;
    margin-bottom: 25px;
  }

  p{
    font-size: 16px;
  }
}

@media (max-width: 570px) {
  .container {
    padding: 1.5rem;
  }
}
